/* You can add global styles to this file, and also import other style files */
html {
  /* width: 1920px;
  height: 1080px; */
  margin: 0;
  padding: 0;
  background-color: black;
}
body {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
}
